# General
*.DS_Store

# CV LaTeX Artifacts
CV/**/*.aux
CV/**/*.fdb_latexmk
CV/**/*.fls
CV/**/*.log
CV/**/*.out
CV/**/*.pdf
CV/**/*.synctex.gz

# Resume LaTeX Artifacts
Resume/**/*.aux
Resume/**/*.fdb_latexmk
Resume/**/*.fls
Resume/**/*.log
Resume/**/*.out
Resume/**/*.pdf
Resume/**/*.synctex.gz